RewriteEngine On
RewriteBase /guestbook/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/guestbook/(.+)$
RewriteCond /home/david50407/guestbook/public/%1 -f
RewriteRule ^(.*)$ public/%1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ config/routes.php [L]
