#container-login,
#container-register,
#container-active {
	background-color: #eee;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 250px;
}

.login-slogan,
.register-slogan,
.active-slogan {
	text-align: right;
	border-right: 1px rgb(84, 91, 114) solid;
	padding-right: 1em;
}

.active-jump {
	text-align: center;
}

.login-container,
.register-container,
.active-container {
	margin: 9em .5em 0;
}
