/* global */

a {
	text-decoration: none;
	color: #1b98f8;
}

.avatar {
	border-radius: 3px;
	margin-right: 0.5em;
}

#layout {
	padding-left: 250px;
	position: relative;
}

/* #nav */

#nav {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
	width: 250px;
	margin-left: -250px;
	background: rgb(37, 42, 58);
	text-align: center;
	padding: 2em 0;
}

#nav .nav-inner {
	color: #fff;
}

#nav #accountStatus {
	text-align: left;
	border-bottom: 1px rgb(84, 91, 114) solid;
	padding-bottom: 20px;
	margin: 0 1em;
}

#nav #accountStatus .account-nick,
#nav #accountStatus .account-level {
	margin: 0 0 .4em 0;
}

#nav .pure-menu {
	padding-top: 20px;
}

/* 2 columns */

.container-2 {
	margin-left: 450px;
}
.container-2 .container-list {
	margin-left: -450px;
	width: 450px;
	border-right: 1px solid #ddd;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
}

.container-1.hide, 
.container-2.hide {
	display: none;
	visible: hidden;
}
